// Colors

$color-green--light: #C4D6B0;
$color-blue--base: #477998;
$color-black--base: #291F1E;
$color-orange--base: #F64740;
$color-red--base: #A3333D;
$color-white--base: #FDFFFF;
$color-red--sub: #B10F2E;
$color-rosewood: #570000;
$color-brow--base: #280000;
$color-orange--sub: #DE7C5A;
