// Colors

$color-green--light: #C4D6B0;
$color-blue--base: #477998;
$color-black--base: #291F1E;
$color-orange--base: #F64740;
$color-red--base: #A3333D;
$color-white--base: #FDFFFF;
$color-red--sub: #B10F2E;
$color-rosewood: #570000;
$color-brow--base: #280000;
$color-orange--sub: #DE7C5A;

// ------

$color-blue--light: #b8d8d8;
$color-blue--medium: #7a9e9f;
$color-blue--dark: #4f6367;
$color-grey--light: #eef5db;
$color-red--light: #fe5f55;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,500');

$font-default: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
